.myWork{
    width: 100%;
    height: 80vw;
    background-color: #000;
    color: #fff;    
}
.wrapperMyWork{
    padding: 20vw 0;
}
.sliderItem{
    width: 30vw;
    height: 30vw;
    background-color: #000;
    color: #000;
    padding: 0 5vw;
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.sliderItem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.7vw;
    overflow: hidden;
}
.wrapperMyWork h3{
    color: #fff;
    text-align: center;
    font-size: 4vw;
    padding: 2vw 0;
}
.wrapperMyWork {
    padding: 8vw 0;
}
.wrapperMyWorkSliderItem{
    cursor: pointer;
    border-radius: 1.7vw;
    overflow: hidden;
}
.navSlider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrow-next,
.arrow-prev{
    width: 5vw;
    height: 2.6vw;
    background: none;
    cursor: pointer;
}
.arrow-next{
    transform: rotate(180deg);
}
.slick-slider{
    position: relative;
    margin-top: 2vw;
}
.slick-arrow {
position: absolute;
top: -5vw;
}

.slick-prev{
left: 0;
}
.slick-next{
right: 0;
}
