.header header > div{
    width: 100%;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 0 0 3vw;
}
.header .MuiIconButton-root{
    color: #fff;
}
.header .MuiIconButton-root {
    padding: 3vw;
}
.mainLogo{
    font-size: 3vw;
    text-align: center;
    line-height: 0.85;
    text-shadow: 0 0 4px #fff;
}
.mainLogo span{
    font-size: 2vw;
}